# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [21]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [22]:
# enter your code here
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [24]:
# your code here

# Sub Problem 1

# Keep the necessary fields: customer ID, amount_spent and country. The customer IDs need to be grouped.

orders = pd.pivot_table(orders, index=['CustomerID', 'Country'], values='amount_spent', aggfunc=sum)
orders = orders.reset_index()

In [25]:
# Sub Problem 2
ninetyfive_perc = np.percentile(orders.groupby('CustomerID').sum()['amount_spent'], 95)
seventyfive_perc = np.percentile(orders.groupby('CustomerID').sum()['amount_spent'], 75)

In [26]:
# Sub Problem 3
orders['CustomerType'] = np.where(orders['amount_spent']>= ninetyfive_perc, 'VIP', np.where(orders['amount_spent']>= seventyfive_perc, 'Preferred', 'None'))

display(orders)

      CustomerID         Country  amount_spent CustomerType
0          12346  United Kingdom      77183.60          VIP
1          12347         Iceland       4310.00    Preferred
2          12348         Finland       1797.24    Preferred
3          12349           Italy       1757.55    Preferred
4          12350          Norway        334.40         None
...          ...             ...           ...          ...
4342       18280  United Kingdom        180.60         None
4343       18281  United Kingdom         80.82         None
4344       18282  United Kingdom        178.05         None
4345       18283  United Kingdom       2094.88    Preferred
4346       18287  United Kingdom       1837.28    Preferred

[4347 rows x 4 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [38]:
# your code here

# Q2: Identify the country with most VIP customers

orders[orders['CustomerType'] == 'VIP'].groupby('Country').count().nlargest(1,'CustomerType')

                CustomerID  amount_spent  CustomerType
Country
United Kingdom         177           177           177

In [37]:
# Q3: Country with most VIP+Preferred customers

orders[orders['CustomerType'] != 'None'].groupby('Country').count().nlargest(1,'CustomerType')

                CustomerID  amount_spent  CustomerType
Country
United Kingdom         932           932           932