# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [8]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [53]:
# enter your code here
orders = pd.read_csv("./Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

orders

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [63]:
# your code here

orders.groupby('CustomerID')['amount_spent'].sum()

orders['Total Spend'] = orders['amount_spent'].groupby(orders['CustomerID']).transform('sum')

In [65]:
VIP = orders['Total Spend'].describe(percentiles=[0.95])

In [66]:
Preferred = orders['Total Spend'].describe(percentiles=[0.75, 0.94])

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [67]:
# your code here
orders.groupby('Country')['Total Spend'].describe(percentiles=[0.95])

,count,mean,std,min,50%,95%,max
Country,,,,,,,
Australia,1185.0,76892.308135,5.937965e+04,373.65,124914.53,124914.53,124914.53
Austria,398.0,1794.239372,9.641809e+02,166.04,1568.23,3750.40,3750.40
Bahrain,17.0,372.247059,1.619527e+02,89.00,459.40,459.40,459.40
Belgium,2031.0,2806.383584,1.520518e+03,84.30,2724.81,5226.23,6487.45
Brazil,32.0,1143.600000,6.930357e-13,1143.60,1143.60,1143.60,1143.60
Canada,151.0,2643.065166,8.662531e+02,51.56,2940.04,2940.04,2940.04
Channel Islands,748.0,4902.053088,3.171558e+03,363.53,2372.86,8137.02,8137.02
Cyprus,614.0,3797.997394,2.396685e+03,155.05,3545.69,6372.58,6372.58
Czech Republic,25.0,826.740000,1.160311e-13,826.74,826.74,826.74,826.74
Denmark,380.0,2869.096474,2.033530e+03,168.90,3415.30,7829.89,7829.89
EIRE,7238.0,135607.250957,2.237359e+04,4341.21,143825.06,143825.06,143825.06
European Community,60.0,1300.250000,0.000000e+00,1300.25,1300.25,1300.25,1300.25
Finland,685.0,4404.827372,3.217682e+03,144.00,2340.84,7956.46,7956.46
France,8342.0,6083.494245,5.147561e+03,73.50,4708.86,17628.46,18895.91
Germany,9042.0,5488.339599,4.845191e+03,63.00,4027.36,19824.05,19824.05
Greece,145.0,1206.207172,8.084637e+02,387.31,1030.98,2661.24,2661.24
Iceland,182.0,4310.000000,1.824007e-12,4310.00,4310.00,4310.00,4310.00
Israel,248.0,3762.653548,1.755844e+03,138.03,4873.81,4873.81,4873.81
Italy,758.0,1954.817902,9.675315e+02,177.31,2099.54,3338.22,3338.22
Japan,321.0,14054.001028,9.372429e+03,112.08,21429.39,21429.39,21429.39
Lebanon,45.0,1693.880000,4.598859e-13,1693.88,1693.88,1693.88,1693.88
Lithuania,35.0,1661.060000,6.920795e-13,1661.06,1661.06,1661.06,1661.06
Malta,112.0,1452.620804,4.504013e+02,905.50,1820.09,1820.09,1820.09
Netherlands,2363.0,246777.036462,9.064717e+04,91.85,280206.02,280206.02,280206.02
Norway,1072.0,7422.344916,4.923385e+03,256.40,5005.46,13375.87,13375.87
Poland,330.0,2363.582242,1.494130e+03,125.92,1315.83,3981.36,3981.36
Portugal,1462.0,4312.378995,3.035486e+03,254.03,2811.43,7857.10,7857.10
RSA,58.0,1002.310000,6.880785e-13,1002.31,1002.31,1002.31,1002.31
Saudi Arabia,9.0,145.920000,3.014578e-14,145.92,145.92,145.92,145.92
Singapore,222.0,21279.290000,3.646200e-11,21279.29,21279.29,21279.29,21279.29
Spain,2485.0,4939.283127,4.580992e+03,95.20,3811.22,13400.24,13400.24
Sweden,451.0,14743.409690,1.521302e+04,185.90,2484.98,31906.82,31906.82
Switzerland,1842.0,4661.772204,3.189020e+03,430.57,4008.62,11072.67,11072.67
USA,179.0,1293.634749,4.627397e+02,269.96,1579.51,1579.51,1579.51
United Arab Emirates,68.0,958.422353,6.192717e+01,889.24,1013.04,1013.04,1013.04
United Kingdom,354345.0,7775.603987,1.746999e+04,0.00,2515.84,40991.57,259657.30
Unspecified,244.0,657.815410,2.082545e+02,530.18,546.43,1038.46,1038.46

In [68]:
orders.groupby('Country')['Total Spend'].describe(percentiles=[0.75, 0.94])

,count,mean,std,min,50%,75%,94%,max
Country,,,,,,,,
Australia,1185.0,76892.308135,5.937965e+04,373.65,124914.53,124914.5300,124914.53,124914.53
Austria,398.0,1794.239372,9.641809e+02,166.04,1568.23,2662.0600,3545.69,3750.40
Bahrain,17.0,372.247059,1.619527e+02,89.00,459.40,459.4000,459.40,459.40
Belgium,2031.0,2806.383584,1.520518e+03,84.30,2724.81,4067.2900,5226.23,6487.45
Brazil,32.0,1143.600000,6.930357e-13,1143.60,1143.60,1143.6000,1143.60,1143.60
Canada,151.0,2643.065166,8.662531e+02,51.56,2940.04,2940.0400,2940.04,2940.04
Channel Islands,748.0,4902.053088,3.171558e+03,363.53,2372.86,8137.0200,8137.02,8137.02
Cyprus,614.0,3797.997394,2.396685e+03,155.05,3545.69,6372.5800,6372.58,6372.58
Czech Republic,25.0,826.740000,1.160311e-13,826.74,826.74,826.7400,826.74,826.74
Denmark,380.0,2869.096474,2.033530e+03,168.90,3415.30,3750.4000,7829.89,7829.89
EIRE,7238.0,135607.250957,2.237359e+04,4341.21,143825.06,143825.0600,143825.06,143825.06
European Community,60.0,1300.250000,0.000000e+00,1300.25,1300.25,1300.2500,1300.25,1300.25
Finland,685.0,4404.827372,3.217682e+03,144.00,2340.84,7956.4600,7956.46,7956.46
France,8342.0,6083.494245,5.147561e+03,73.50,4708.86,9401.2800,13787.54,18895.91
Germany,9042.0,5488.339599,4.845191e+03,63.00,4027.36,6855.3225,13689.67,19824.05
Greece,145.0,1206.207172,8.084637e+02,387.31,1030.98,1030.9800,2661.24,2661.24
Iceland,182.0,4310.000000,1.824007e-12,4310.00,4310.00,4310.0000,4310.00,4310.00
Israel,248.0,3762.653548,1.755844e+03,138.03,4873.81,4873.8100,4873.81,4873.81
Italy,758.0,1954.817902,9.675315e+02,177.31,2099.54,2794.5100,3338.22,3338.22
Japan,321.0,14054.001028,9.372429e+03,112.08,21429.39,21429.3900,21429.39,21429.39
Lebanon,45.0,1693.880000,4.598859e-13,1693.88,1693.88,1693.8800,1693.88,1693.88
Lithuania,35.0,1661.060000,6.920795e-13,1661.06,1661.06,1661.0600,1661.06,1661.06
Malta,112.0,1452.620804,4.504013e+02,905.50,1820.09,1820.0900,1820.09,1820.09
Netherlands,2363.0,246777.036462,9.064717e+04,91.85,280206.02,280206.0200,280206.02,280206.02
Norway,1072.0,7422.344916,4.923385e+03,256.40,5005.46,13375.8700,13375.87,13375.87
Poland,330.0,2363.582242,1.494130e+03,125.92,1315.83,3981.3600,3981.36,3981.36
Portugal,1462.0,4312.378995,3.035486e+03,254.03,2811.43,7857.1000,7857.10,7857.10
RSA,58.0,1002.310000,6.880785e-13,1002.31,1002.31,1002.3100,1002.31,1002.31
Saudi Arabia,9.0,145.920000,3.014578e-14,145.92,145.92,145.9200,145.92,145.92
Singapore,222.0,21279.290000,3.646200e-11,21279.29,21279.29,21279.2900,21279.29,21279.29
Spain,2485.0,4939.283127,4.580992e+03,95.20,3811.22,5568.3500,13400.24,13400.24
Sweden,451.0,14743.409690,1.521302e+04,185.90,2484.98,31906.8200,31906.82,31906.82
Switzerland,1842.0,4661.772204,3.189020e+03,430.57,4008.62,9035.5200,9035.52,11072.67
USA,179.0,1293.634749,4.627397e+02,269.96,1579.51,1579.5100,1579.51,1579.51
United Arab Emirates,68.0,958.422353,6.192717e+01,889.24,1013.04,1013.0400,1013.04,1013.04
United Kingdom,354345.0,7775.603987,1.746999e+04,0.00,2515.84,5630.8700,40991.57,259657.30
Unspecified,244.0,657.815410,2.082545e+02,530.18,546.43,552.0000,1038.46,1038.46