# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [99]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [100]:
# enter your code here
orders = pd.read_csv("/Users/miquicampuzano/Documents/Miqui/1. Formaci√≥n/Ironhack/5. Materiales/notebooks/data/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [101]:
help(orders.collect())

AttributeError: 'DataFrame' object has no attribute 'collect'

In [102]:
orders.groupby("CustomerID").sum()

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55
12350,1365627,9231629,34187,34,51,272,197,65.30,334.40
...,...,...,...,...,...,...,...,...,...
18280,1110495,5457120,20110,30,10,90,45,47.65,180.60
18281,1560699,3895248,14077,42,49,70,54,39.36,80.82
18282,4642134,6838540,24132,116,60,146,103,62.39,178.05
18283,233950830,425704048,1520316,5503,2489,10346,1397,1220.93,2094.88
18287,21958901,39474556,140770,555,332,697,1586,104.55,1837.28

In [103]:
# your code here
# Group sales by customer:

orders_grouped = orders[["CustomerID", "Quantity", "amount_spent", "Country"]].groupby("CustomerID").sum()

vip_customers = orders_grouped[orders_grouped["amount_spent"] >= orders_grouped["amount_spent"].quantile(0.95)]

prefferred_customers = orders_grouped[(orders_grouped["amount_spent"] < orders_grouped["amount_spent"].quantile(0.95)) & (orders_grouped["amount_spent"] >= orders_grouped["amount_spent"].quantile(0.75))]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [104]:
# your code here
#Add the country of the customers:

countries = orders.drop_duplicates("CustomerID")
vip_customers = vip_customers.merge(countries[["CustomerID","Country"]], how= "left", on = "CustomerID")
vip_customers.value_counts("Country")

Country
United Kingdom     177
Germany             10
France               9
Switzerland          3
EIRE                 2
Japan                2
Portugal             2
Spain                2
Australia            2
Norway               1
Netherlands          1
Singapore            1
Finland              1
Sweden               1
Denmark              1
Cyprus               1
Channel Islands      1
dtype: int64

In [105]:
# Do the same for prefferred customers:

prefferred_customers = prefferred_customers.merge(countries[["CustomerID","Country"]], how= "left", on = "CustomerID")

prefferred_customers.value_counts("Country")

Country
United Kingdom     755
Germany             29
France              20
Belgium             11
Norway               6
Switzerland          6
Spain                5
Portugal             5
Italy                5
Finland              4
Channel Islands      3
Cyprus               2
Denmark              2
Australia            2
Israel               2
Japan                2
Greece               1
EIRE                 1
Lebanon              1
Malta                1
Poland               1
Canada               1
Sweden               1
Austria              1
Iceland              1
dtype: int64

In [108]:
vip_customers

     CustomerID  Quantity  amount_spent         Country
0         12346     74215      77183.60  United Kingdom
1         12357      2708       6207.67     Switzerland
2         12359      1622       6372.58          Cyprus
3         12409      5551      11072.67     Switzerland
4         12415     77670     124914.53       Australia
..          ...       ...           ...             ...
212       18109      4237       8052.97  United Kingdom
213       18139      5557       8438.34  United Kingdom
214       18172      3184       7561.68  United Kingdom
215       18223      2948       6484.54  United Kingdom
216       18229      2488       7276.90  United Kingdom

[217 rows x 4 columns]

In [111]:
prefferred_customers["Type"] = "Prefferred"
vip_customers["Type"] = "Vip"

In [121]:
preff_vip = pd.concat([prefferred_customers, vip_customers])

preff_vip.value_counts("Country")

Country
United Kingdom     932
Germany             39
France              29
Belgium             11
Switzerland          9
Spain                7
Portugal             7
Norway               7
Italy                5
Finland              5
Channel Islands      4
Australia            4
Japan                4
EIRE                 3
Denmark              3
Cyprus               3
Sweden               2
Israel               2
Lebanon              1
Iceland              1
Greece               1
Malta                1
Netherlands          1
Poland               1
Singapore            1
Canada               1
Austria              1
dtype: int64