# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [103]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [104]:
# enter your code here
orders = pd.read_csv("C:/Users/victo/Desktop/IronHack/JupyterNotebooks/data/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [105]:
#Sub Problem 1
#Step 1. Only analyze the fields required
orders = pd.pivot_table(orders,index=['CustomerID', 'Country'], values='amount_spent',
                         aggfunc=('sum'), fill_value=0)
orders.reset_index()

      CustomerID         Country  amount_spent
0          12346  United Kingdom      77183.60
1          12347         Iceland       4310.00
2          12348         Finland       1797.24
3          12349           Italy       1757.55
4          12350          Norway        334.40
...          ...             ...           ...
4342       18280  United Kingdom        180.60
4343       18281  United Kingdom         80.82
4344       18282  United Kingdom        178.05
4345       18283  United Kingdom       2094.88
4346       18287  United Kingdom       1837.28

[4347 rows x 3 columns]

In [106]:
#Sub Problem 2
#Step 1. Calculate the percentile 0.95 and 0.75
vip_percentile=orders.quantile(0.95)
preferred_percentile=orders.quantile(0.75)
print(vip_percentile)
print(preferred_percentile)

amount_spent    5774.278
Name: 0.95, dtype: float64
amount_spent    1661.195
Name: 0.75, dtype: float64

In [107]:
#Sub Problem 3
#Calculate a new column and define the if statements
def Type(x):
    if (x['amount_spent'] >= 5774.278):
        return 'VIP Customers'
    elif (x['amount_spent'] >= 1661.195):
        return 'Preferred Customers'
    else:
        return 'Others'

orders = orders.assign(Type=orders.apply(Type, axis=1))
orders.reset_index()

      CustomerID         Country  amount_spent                 Type
0          12346  United Kingdom      77183.60        VIP Customers
1          12347         Iceland       4310.00  Preferred Customers
2          12348         Finland       1797.24  Preferred Customers
3          12349           Italy       1757.55  Preferred Customers
4          12350          Norway        334.40               Others
...          ...             ...           ...                  ...
4342       18280  United Kingdom        180.60               Others
4343       18281  United Kingdom         80.82               Others
4344       18282  United Kingdom        178.05               Others
4345       18283  United Kingdom       2094.88  Preferred Customers
4346       18287  United Kingdom       1837.28  Preferred Customers

[4347 rows x 4 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

In [108]:
orders2 = orders[orders.Type == 'VIP Customers'].pivot_table(orders,index=['Country'],
                         aggfunc=('count'), fill_value=0)
orders2.reset_index().nlargest(1, 'Type')

           Country  Type  amount_spent
16  United Kingdom   178           178

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [109]:
orders3 = orders[(orders.Type == 'VIP Customers') | (orders.Type == 'Preferred Customers')].pivot_table(orders,index=['Country'],
                         aggfunc=('count'), fill_value=0)
orders3.reset_index().nlargest(1, 'Type')

           Country  Type  amount_spent
26  United Kingdom   934           934