# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [19]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [57]:
# enter your code here
orders = pd.read_csv("../../../../Notebooks/notebooks/data/Orders.csv")
orders.head

<bound method NDFrame.head of         Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
0                0     536365    85123A  2010     12    3     8
1                1     536365     71053  2010     12    3     8
2                2     536365    84406B  2010     12    3     8
3                3     536365    84029G  2010     12    3     8
4                4     536365    84029E  2010     12    3     8
...            ...        ...       ...   ...    ...  ...   ...
397919      541904     581587     22613  2011     12    5    12
397920      541905     581587     22899  2011     12    5    12
397921      541906     581587     23254  2011     12    5    12
397922      541907     581587     23255  2011     12    5    12
397923      541908     581587     22138  2011     12    5    12

                                Description  Quantity          InvoiceDate  \
0        white hanging heart t-light holder         6  2010-12-01 08:26:00
1                       white metal lantern         6  2010-12-01 08:26:00
2            cream cupid hearts coat hanger         8  2010-12-01 08:26:00
3       knitted union flag hot water bottle         6  2010-12-01 08:26:00
4            red woolly hottie white heart.         6  2010-12-01 08:26:00
...                                     ...       ...                  ...
397919          pack of 20 spaceboy napkins        12  2011-12-09 12:50:00
397920         children's apron dolly girl          6  2011-12-09 12:50:00
397921        childrens cutlery dolly girl          4  2011-12-09 12:50:00
397922      childrens cutlery circus parade         4  2011-12-09 12:50:00
397923        baking set 9 piece retrospot          3  2011-12-09 12:50:00

        UnitPrice  CustomerID         Country  amount_spent
0            2.55       17850  United Kingdom         15.30
1            3.39       17850  United Kingdom         20.34
2            2.75       17850  United Kingdom         22.00
3            3.39       17850  United Kingdom         20.34
4            3.39       17850  United Kingdom         20.34
...           ...         ...             ...           ...
397919       0.85       12680          France         10.20
397920       2.10       12680          France         12.60
397921       4.15       12680          France         16.60
397922       4.15       12680          France         16.60
397923       4.95       12680          France         14.85

[397924 rows x 14 columns]>

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [24]:
# your code here
#sub1
df_amount = orders.groupby('CustomerID').sum()

In [25]:
df_amount

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55
12350,1365627,9231629,34187,34,51,272,197,65.30,334.40
...,...,...,...,...,...,...,...,...,...
18280,1110495,5457120,20110,30,10,90,45,47.65,180.60
18281,1560699,3895248,14077,42,49,70,54,39.36,80.82
18282,4642134,6838540,24132,116,60,146,103,62.39,178.05
18283,233950830,425704048,1520316,5503,2489,10346,1397,1220.93,2094.88
18287,21958901,39474556,140770,555,332,697,1586,104.55,1837.28

In [26]:
df_amount.head(5)

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55
12350,1365627,9231629,34187,34,51,272,197,65.30,334.40

In [27]:
#sub2
#create new column
df_amount['Percentile'] = df_amount['amount_spent']
# save customerID as list of indexes
list_ind = df_amount.index
# use quantile function to determine the 0.75 i 0.95 quantiles and save them in two variables
per_75, per_95 = df_amount['amount_spent'].quantile([0.75,0.95])
# iterate through the dataframe and check in whichi quantile fall each value
for i in list_ind:
    if df_amount.loc[i,'amount_spent'] >= per_95:
        df_amount.loc[i,'Percentile'] = 'Percentile 95'
    elif df_amount.loc[i,'amount_spent'] < per_95 and df_amount.loc[i,'amount_spent'] >= per_75:
        df_amount.loc[i,'Percentile'] = 'Percentile 75'
    else:
        df_amount.loc[i,'Percentile'] = 'less than 75'

In [28]:
df_amount

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent,Percentile
CustomerID,,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60,Percentile 95
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00,Percentile 75
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24,Percentile 75
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55,Percentile 75
12350,1365627,9231629,34187,34,51,272,197,65.30,334.40,less than 75
...,...,...,...,...,...,...,...,...,...,...
18280,1110495,5457120,20110,30,10,90,45,47.65,180.60,less than 75
18281,1560699,3895248,14077,42,49,70,54,39.36,80.82,less than 75
18282,4642134,6838540,24132,116,60,146,103,62.39,178.05,less than 75
18283,233950830,425704048,1520316,5503,2489,10346,1397,1220.93,2094.88,Percentile 75
18287,21958901,39474556,140770,555,332,697,1586,104.55,1837.28,Percentile 75

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [186]:
#Q2
# your code here
#we select all the Customers ID that are in the Percentile 95
list_top_customers = list(df_amount[df_amount['Percentile'] == 'Percentile 95'].index)

In [187]:
# we filter the original dataframe 'Orders' with the selected Customers
country_vip = []
for i in list_top_customers:
    country_vip.append(orders[orders['CustomerID'] == i]['Country'].values[0])

# we count each costumer per country    
unique_country = set(country_vip)
top_country = []
for i in unique_country:
    top_country.append([country_vip.count(i),i])

In [189]:
top_country.sort(reverse=True)
top_country

[[177, 'United Kingdom'],
 [10, 'Germany'],
 [9, 'France'],
 [3, 'Switzerland'],
 [2, 'Spain'],
 [2, 'Portugal'],
 [2, 'Japan'],
 [2, 'EIRE'],
 [2, 'Australia'],
 [1, 'Sweden'],
 [1, 'Singapore'],
 [1, 'Norway'],
 [1, 'Netherlands'],
 [1, 'Finland'],
 [1, 'Denmark'],
 [1, 'Cyprus'],
 [1, 'Channel Islands']]

In [191]:
# Q3
# your code here
#we select all the Customers ID that are in the Percentile 75 and then add them to
# the customers on the Percentile 95
list_pref_customers =  list(df_amount[df_amount['Percentile'] == 'Percentile 75'].index)
list_preftop_customers = list_pref_customers + list_top_customers

In [192]:
# we filter the original dataframe 'Orders' with the selected Customers
country_vip = []
for i in list_preftop_customers:
    country_vip.append(orders[orders['CustomerID'] == i]['Country'].values[0])

# we count each costumer per country    
unique_country = set(country_vip)
top_country = []
for i in unique_country:
    top_country.append([country_vip.count(i), i])

In [193]:
top_country.sort(reverse=True)
top_country

[[932, 'United Kingdom'],
 [39, 'Germany'],
 [29, 'France'],
 [11, 'Belgium'],
 [9, 'Switzerland'],
 [7, 'Spain'],
 [7, 'Portugal'],
 [7, 'Norway'],
 [5, 'Italy'],
 [5, 'Finland'],
 [4, 'Japan'],
 [4, 'Channel Islands'],
 [4, 'Australia'],
 [3, 'EIRE'],
 [3, 'Denmark'],
 [3, 'Cyprus'],
 [2, 'Sweden'],
 [2, 'Israel'],
 [1, 'Singapore'],
 [1, 'Poland'],
 [1, 'Netherlands'],
 [1, 'Malta'],
 [1, 'Lebanon'],
 [1, 'Iceland'],
 [1, 'Greece'],
 [1, 'Canada'],
 [1, 'Austria']]