<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-1" data-toc-modified-id="Challenge-1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 1</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Import-all-required-libraries" data-toc-modified-id="Import-all-required-libraries-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Import all required libraries</a></span></li><li><span><a href="#Import-data-set" data-toc-modified-id="Import-data-set-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Import data set</a></span></li><li><span><a href="#Print-first-10-rows-of-pokemon" data-toc-modified-id="Print-first-10-rows-of-pokemon-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>Print first 10 rows of <code>pokemon</code></a></span></li><li><span><a href="#Obtain-the-distinct-values-across-Type-1-and-Type-2" data-toc-modified-id="Obtain-the-distinct-values-across-Type-1-and-Type-2-1.0.4"><span class="toc-item-num">1.0.4&nbsp;&nbsp;</span>Obtain the distinct values across <code>Type 1</code> and <code>Type 2</code></a></span></li><li><span><a href="#Cleanup-Name-that-contain-&quot;Mega&quot;" data-toc-modified-id="Cleanup-Name-that-contain-&quot;Mega&quot;-1.0.5"><span class="toc-item-num">1.0.5&nbsp;&nbsp;</span>Cleanup <code>Name</code> that contain "Mega"</a></span></li><li><span><a href="#Create-a-new-column-called-A/D-Ratio-whose-value-equals-to-Attack-devided-by-Defense" data-toc-modified-id="Create-a-new-column-called-A/D-Ratio-whose-value-equals-to-Attack-devided-by-Defense-1.0.6"><span class="toc-item-num">1.0.6&nbsp;&nbsp;</span>Create a new column called <code>A/D Ratio</code> whose value equals to <code>Attack</code> devided by <code>Defense</code></a></span></li><li><span><a href="#Identify-the-pokemon-with-the-highest-A/D-Ratio" data-toc-modified-id="Identify-the-pokemon-with-the-highest-A/D-Ratio-1.0.7"><span class="toc-item-num">1.0.7&nbsp;&nbsp;</span>Identify the pokemon with the highest <code>A/D Ratio</code></a></span></li><li><span><a href="#Identify-the-pokemon-with-the-lowest-A/D-Ratio" data-toc-modified-id="Identify-the-pokemon-with-the-lowest-A/D-Ratio-1.0.8"><span class="toc-item-num">1.0.8&nbsp;&nbsp;</span>Identify the pokemon with the lowest A/D Ratio</a></span></li><li><span><a href="#Create-a-new-column-called-Combo-Type-whose-value-combines-Type-1-and-Type-2." data-toc-modified-id="Create-a-new-column-called-Combo-Type-whose-value-combines-Type-1-and-Type-2.-1.0.9"><span class="toc-item-num">1.0.9&nbsp;&nbsp;</span>Create a new column called <code>Combo Type</code> whose value combines <code>Type 1</code> and <code>Type 2</code>.</a></span></li><li><span><a href="#Identify-the-pokemons-whose-A/D-Ratio-are-among-the-top-5" data-toc-modified-id="Identify-the-pokemons-whose-A/D-Ratio-are-among-the-top-5-1.0.10"><span class="toc-item-num">1.0.10&nbsp;&nbsp;</span>Identify the pokemons whose <code>A/D Ratio</code> are among the top 5</a></span></li><li><span><a href="#For-the-5-pokemons-printed-above,-aggregate-Combo-Type-and-use-a-list-to-store-the-unique-values." data-toc-modified-id="For-the-5-pokemons-printed-above,-aggregate-Combo-Type-and-use-a-list-to-store-the-unique-values.-1.0.11"><span class="toc-item-num">1.0.11&nbsp;&nbsp;</span>For the 5 pokemons printed above, aggregate <code>Combo Type</code> and use a list to store the unique values.</a></span></li><li><span><a href="#For-each-of-the-Combo-Type-values-obtained-from-the-previous-question,-calculate-the-mean-scores-of-all-numeric-fields-across-all-pokemons." data-toc-modified-id="For-each-of-the-Combo-Type-values-obtained-from-the-previous-question,-calculate-the-mean-scores-of-all-numeric-fields-across-all-pokemons.-1.0.12"><span class="toc-item-num">1.0.12&nbsp;&nbsp;</span>For each of the <code>Combo Type</code> values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.</a></span></li></ul></li></ul></li></ul></div>

# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [13]:
# import libraries
import pandas as pd
import numpy as np

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [14]:
# import data set
pokemon = pd.read_csv('./Pokemon.csv')

### Print first 10 rows of `pokemon`

In [15]:
# enter your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [41]:
# enter your code here

unique_t1 = pokemon['Type 1'].unique() 
unique_t2 = pokemon['Type 2'].unique()

dis_val = np.concatenate((unique_t1, unique_t2))

unique_val = list(dict.fromkeys(dis_val))

In [103]:
unique_val

['Grass',
 'Bug',
 'Flying',
 'Fighting',
 'Dark',
 'Dragon',
 'Ice',
 'Ghost',
 'Fairy',
 'Ground',
 'Electric',
 'Fire',
 'Normal',
 nan,
 'Steel',
 'Psychic',
 'Rock',
 'Water',
 'Poison']

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [ ]:
#¡¡¡PENDIENTE!!!

# enter your code here


....Mega

# test transformed data



pokemon.head(10)

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [73]:
# enter your code here

pokemon['A/D Ratio'] =  pokemon['Attack'] / pokemon['Defense']

### Identify the pokemon with the highest `A/D Ratio`

In [74]:
# enter your code here
pokemon.nlargest(1,'A/D Ratio')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0,Psychic-nan

### Identify the pokemon with the lowest A/D Ratio

In [75]:
# enter your code here
pokemon.nsmallest(1,'A/D Ratio')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478,Bug-Rock

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [77]:
#¡¡¡PENDIENTE eliminar Nan!!!


# enter your code here

pokemon['Combo Type'] = pokemon[['Type 1', 'Type 2']].astype(str).agg('-'.join, axis=1)

pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire-nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667,Rock-Fairy
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545,Rock-Fairy
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333,Psychic-Ghost
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667,Psychic-Dark
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667,Fire-Water

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [95]:
# enter your code here

top5 = pokemon.nlargest(5,'A/D Ratio')

type(top5)

pandas.core.frame.DataFrame

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [105]:
# enter your code here

top_combos = top5["Combo Type"].unique()

top_combos_list = list(dict.fromkeys(top_combos))

top_combos_list

['Psychic-nan', 'Water-Dark', 'Bug-Poison', 'Rock-nan']

# For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [101]:
# enter your code here

pokemon.groupby("Combo Type").mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Bug-Electric,595.500000,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.000000,1.111667
Bug-Fighting,214.000000,550.000000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.000000,1.637681
Bug-Fire,636.500000,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.000000,1.234266
Bug-Flying,286.285714,419.500000,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.000000,1.146274
Bug-Ghost,292.000000,236.000000,1.000000,90.000000,45.000000,30.000000,30.000000,40.000000,3.000000,0.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...
Water-Poison,118.666667,426.666667,61.666667,68.333333,58.333333,61.666667,91.666667,85.000000,1.333333,0.000000,1.162149
Water-Psychic,111.800000,481.000000,87.000000,73.000000,104.000000,94.000000,79.000000,44.000000,1.200000,0.000000,0.783668
Water-Rock,430.000000,428.750000,70.750000,82.750000,112.750000,61.500000,65.000000,36.000000,3.750000,0.000000,0.727170
Water-Steel,395.000000,530.000000,84.000000,86.000000,88.000000,111.000000,101.000000,60.000000,4.000000,0.000000,0.977273
Water-nan,302.881356,413.745763,66.847458,71.830508,69.203390,72.949153,65.033898,67.881356,2.864407,0.050847,1.083157