# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [9]:
# How to aggregate the amount_spent for unique customers?
aggregated = pd.DataFrame(orders.groupby('CustomerID').sum()['amount_spent'])
aggregated.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4339 entries, 12346 to 18287
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   amount_spent  4339 non-null   float64
dtypes: float64(1)
memory usage: 67.8 KB

In [10]:
aggregated.head()

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40

In [11]:
# How to select customers whose aggregated amount_spent is in a given quantile range?
q1 = float(aggregated.quantile(0.95)['amount_spent'])

In [12]:
q2 = float(aggregated.quantile(0.75)['amount_spent'])

In [13]:
# How to label selected customers as "VIP" or "Preferred"?

def labeling(x):
    if x > q1:
        return 'VIP'
    elif x < q1 and x > q2:
        return 'Preferred'
    else:
        return 'Standard'

In [14]:
aggregated['label'] = aggregated['amount_spent'].apply(labeling)

In [15]:
aggregated['label'].value_counts()

Standard     3254
Preferred     868
VIP           217
Name: label, dtype: int64

In [16]:
aggregated.head()

            amount_spent      label
CustomerID
12346           77183.60        VIP
12347            4310.00  Preferred
12348            1797.24  Preferred
12349            1757.55  Preferred
12350             334.40   Standard

In [17]:
aggregated.reset_index(inplace=True)

In [18]:
#merging both dataframes in one
merged = orders.merge(aggregated, left_on='CustomerID', right_on='CustomerID')

In [19]:
merged = merged.rename(columns={'amount_spent_x': 'amount spent', 'amount_spent_y':'aggregated amount spent'})
merged.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount spent,aggregated amount spent,label
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21,Preferred
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preferred
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21,Preferred
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preferred
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preferred

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [21]:
# How to identify which country has the most VIP Customers?
merged[['CustomerID', 'Country', 'label']].groupby(['Country'])['label'].value_counts()

Country               label
Australia             VIP             898
                      Standard        157
                      Preferred       130
Austria               Standard        240
                      Preferred       158
                                    ...
United Arab Emirates  Standard         68
United Kingdom        Preferred    137450
                      Standard     132710
                      VIP           84185
Unspecified           Standard        244
Name: label, Length: 76, dtype: int64

In [41]:
df = merged[['CustomerID', 'Country', 'label']].drop_duplicates()
df.head()

     CustomerID         Country      label
0         17850  United Kingdom  Preferred
297       13047  United Kingdom  Preferred
469       12583          France        VIP
716       13748  United Kingdom   Standard
744       15100  United Kingdom   Standard

In [44]:
df.drop('CustomerID', axis=1, inplace=True)

In [54]:
#top country with the most VIP customers:
df[df['label'].apply(lambda x: 'VIP' in x)].groupby('Country').count().sort_values(by='label',ascending=False).iloc[0]

label    177
Name: United Kingdom, dtype: int64

In [55]:
#top country with the most VIP and Preferred customers:
df[df['label'].apply(lambda x: 'Standard' not in x)].groupby('Country').count().sort_values(by='label',ascending=False).iloc[0]

label    932
Name: United Kingdom, dtype: int64