# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [3]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [5]:
# enter your code here
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [6]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397924 entries, 0 to 397923
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    397924 non-null  int64
 1   InvoiceNo     397924 non-null  int64
 2   StockCode     397924 non-null  object
 3   year          397924 non-null  int64
 4   month         397924 non-null  int64
 5   day           397924 non-null  int64
 6   hour          397924 non-null  int64
 7   Description   397924 non-null  object
 8   Quantity      397924 non-null  int64
 9   InvoiceDate   397924 non-null  object
 10  UnitPrice     397924 non-null  float64
 11  CustomerID    397924 non-null  int64
 12  Country       397924 non-null  object
 13  amount_spent  397924 non-null  float64
dtypes: float64(2), int64(8), object(4)
memory usage: 42.5+ MB

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [7]:
#Vamos a ver cuantos customers unicos hay
len(orders["CustomerID"].unique())

4339

In [8]:
#Aqui obtengo TOTAL de de gasto de cada usuario unico
orders.groupby("CustomerID")["amount_spent"].sum()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [10]:
#Calculamos el valor de amount del cuartil 0.95 y la cantidad de VIPS que hay
v_095=orders["amount_spent"].quantile(0.95)
cantidad_vips=(orders["amount_spent"]>v_095).sum()

In [11]:
#filtramos a los vips a partir de esa cantidad y los tenemos ordenados de mayor a menos
vip=orders["amount_spent"].sort_values(ascending=False).head(cantidad_vips)

In [14]:
vip

397451    168469.60
37126      77183.60
155418     38970.00
118352      8142.75
248706      7144.72
            ...
56481         67.60
27688         67.60
220578        67.60
208415        67.60
313767        67.60
Name: amount_spent, Length: 19615, dtype: float64

### Hacemos lo mismo para los preferred

In [15]:
#primero calculamos el valor para el quantile 75 y filtramos la cantidad de ventas con ese valor
v_75=orders["amount_spent"].quantile(0.75)
cantidad_pref=(orders["amount_spent"]>v_75).sum()-cantidad_vips

In [16]:
preferred=orders["amount_spent"].sort_values(ascending=False).head(cantidad_pref)

In [17]:
preferred

397451    168469.60
37126      77183.60
155418     38970.00
118352      8142.75
248706      7144.72
            ...
310918        23.40
377477        23.40
48932         23.40
333116        23.40
185732        23.40
Name: amount_spent, Length: 70007, dtype: float64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [41]:
#Paises con mas VIPs
orders.nlargest(len(vip),"amount_spent")["Country"].value_counts().head(5)

United Kingdom    14739
Netherlands        1468
EIRE                715
Australia           571
Germany             511
Name: Country, dtype: int64

In [42]:
#Paises con mas VIPS y Preferred combinados
orders.nlargest(len(preferred),"amount_spent")["Country"].value_counts().head(5)

United Kingdom    56448
Germany            2218
EIRE               2190
France             2050
Netherlands        1866
Name: Country, dtype: int64